<configuration>
    <system.webServer>
        <rewrite>	
            <outboundRules>		
                <rule name="ReverseProxyOutboundRule1" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^http(s)?://qlik002.qdom.lan:8181/(.*)" />
                    <action type="Rewrite" value="http{R:1}://qlik002.qdom.lan/{R:2}" />
                </rule>
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://qlik002.qdom.lan:8181/{R:1}" />
                </rule>
                <rule name="Redirect to https" enabled="true" stopProcessing="true">
                   <match url="(.*)" />
                   <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                      <add input="{HTTPS}" pattern="off" />
                      <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
                   </conditions>
                   <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>		
            </rules>
        </rewrite>
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="no-cache" />
                <add name="Strict-Transport-Security" value="max-age=31536000" />
            </customHeaders>
        </httpProtocol>
        <caching enabled="false" enableKernelCache="false" />
    </system.webServer>
</configuration>