<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">

    <header>

    </header>

    <main>
        <div class="jumbotron">
            <h1>Server side rendered (ejs template)</h1>
            <p>
                <a href="./public/html/static_page.html">Link to static file</a>
            </p>
            <p>
                <a href="./public/html/LICENSES.txt">Link to license file</a>
            </p>
            <p>
                <a href="./db_response">Link to json response from sqlite db</a>
            </p>
            <p>
                <a href="./api">Link to json response from bcrypt call</a>
            </p>
            <p>
                <a href="./config_file">Link to json response from config file call</a>
            </p>
            <p>
                <a href="./working_directory">Link to json response from working_directory call</a>
            </p>

        </div>
    </main>

    <footer>
    </footer>

</body>
</html>